# Python
   __pycache__/
   *.pyc
   *.pyo
   .ipynb_checkpoints/
   
   # Virtual environments
   scatter/
   venv/
   env/
   .venv/
   
   # Plots
   plots/*

   # OS-specific junk
   .DS_Store          # macOS
   Thumbs.db          # Windows
   desktop.ini
